html {
	font-size: 62.5%;
}

body{
 background-color: white;
 color: #362f2d;
 font: 1.5em/1.5 "Open Sans", arial, sans-serif;

}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.wrapper {}

.header {}

#nav:target .header {
	background-color: #f26d7d;	
}

.logo {
	background-color: #f26d7d;
	margin: 0 auto;
}

.logo a {
	background: url(../images/logo.png);
	display: block;
	height: 50px;
	margin: 0 auto;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	width: 250px;
	position: relative;
	z-index: 100;
}

.phone {
	background: white;
	border: 1px solid red;
	border-radius: 10px;
	font-size: .9em;
	height: 43px;
	line-height: 43px;
	min-height: 30px;
	/*dev*/margin: 15px 20px;
	text-align: center;
}

.phone a {
	color: #007236;
	font-size: 1.4em;
	text-decoration: none;
	position: relative;
	z-index: 100;
}

.menu {
	position: absolute;
	top: 0;
	width: 100%;
}

.menu .toggle {
	background: yellow;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

#nav:target .menu ul {
	display: block;
}

.menu .close {
	display: none;
}

#nav:target .menu .close {
	display: block;
}

.menu ul {
	display: none;
	padding: 0;
	margin: 125px 0 0 0;
}

.menu li {
	background: #f26d7d;
	list-style: none;
}

.menu a {
	display: block;
	font-size: 24px;
	color: white;
	text-decoration: none;
}

.facebook {
	display: none;
}

.columns {}

.content {
	/*dev*/background: rgba(255, 0, 0, .1);
	/*dev*/min-height: 200px;
}

.sidebar {
	/*dev*/background: rgba(125, 0, 0, .1);
	/*dev*/min-height: 200px;
}

.footer {
	background-color: #f8b6be;
	height: 85px;
}

@media screen and (min-width: 978px) {
	body {
		background: #fcfbf8;
	}


	.wrapper {
		margin: 0 auto;
		width: 978px;
	}

	.header {
		background: none;
		padding-bottom: 25px;
	}

	#nav:target .header {
		background-color: transparent;	
	}

	.logo {
		float: left;
		background: none;
		margin: 20px 0 30px;
	}

	.logo a {
		background: url(../images/logo2.png);
		height: 77px;
		width: 478px;
	}

	.phone {
		float: right;
		margin: 30px 0 0;
		width: 175px;
		height: auto;
		padding: 5px 0;
		line-height: 1.5;
	}

	.phone a {
		font-size: 1.5em;
		font-style: italic;
		white-space: nowrap;

	}

	.menu {
		clear: both;
		float: left;
		height: 40px;
		/* dev */ min-width: 200px;
		position: static;
		width: auto;
	}

	.menu .toggle {
		display: none;
	}

	.menu ul {
		display: block;
		margin: 0;
	}

	.menu li {
		float: right;
	}

	#nav:target .menu .close {
	display: none;
}

	.facebook {
		/* dev */background-color: blue;
		display: block;
		height: 40px;
		float: right;
		margin: 0;
		/* dev */min-width: 100px;
	}


	.columns {
		background-color: #fff;
		padding: 30px;
	}

	.columns:after {
		
	}

	.content {
		float: left;
		width: 602px;
		}

	.sidebar {
		float: right;
		width: 286px;
	}

	.footer {
		background: none;
		height: 55px;
		margin: 30px 0;
	}
}